<div class="row">
  <ul class="nav nav-tabs col-12">
    <li class="nav-item">
      <button routerLink="department" class="nav-link" aria-current="page">Departments</button>
    </li>
    <li class="nav-item">
        <button routerLink="office" class="nav-link" aria-current="page">Offices</button>
      </li>
      <li class="nav-item">
        <button routerLink="designation" class="nav-link" aria-current="page">Designation</button>
      </li>
  </ul>
</div>
  <router-outlet></router-outlet>